{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "useTabs": true,
    "semi": false,
    "trailingComma": "none",
    "tabWidth": 2,
    "singleQuote": true
}